// Theme's Palette
@import("F:/博客/jiyongchao-qf.github.io/node_modules/vuepress-theme-reco/styles/palette.styl")

// User's Palette
@import("F:/博客/jiyongchao-qf.github.io/docs/.vuepress/styles/palette.styl")